.heart-switch {
    --duration: .45s;
    --stroke: #717388; 
    --stroke-active: #c2185b;
    --fill: #f9f9fb; 
    --fill-active: #e91e63;
    --shadow: rgba(0, 9, 61, 0.35);
    cursor: pointer;
    position: relative;
    transform: scale(var(--s, 1)) translateZ(0);
    transition: transform .2s;
    -webkit-tap-highlight-color: transparent;
    margin: 20px;
    display: inline-block;
}

.heart-switch:active {
    --s: .95;
}

.heart-switch input {
    appearance: none;
    -moz-appearance: none;
    position: absolute;
    outline: none;
    border: none;
    pointer-events: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 1px 3px 0 var(--shadow);
}

.heart-switch input + svg {
    width: 36px;
    height: 25px;
    fill: var(--fill);
    stroke: var(--stroke);
    stroke-width: 1.4px; /* Viền đậm hơn */
    stroke-linejoin: round;
    display: block;
    transition: stroke var(--duration), fill var(--duration);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.05); /* Nhấn mạnh thêm */
}

.heart-switch input:not(:checked) {
    animation: uncheck var(--duration) linear forwards;
}

.heart-switch input:checked {
    animation: check var(--duration) linear forwards;
}

.heart-switch input:checked + svg {
    --fill: var(--fill-active);
    --stroke: var(--stroke-active);
}

@keyframes uncheck {
    0% {
        transform: rotate(-30deg) translateX(13.5px) translateY(8px);
    }
    50% {
        transform: rotate(30deg) translateX(9px);
    }
    75% {
        transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes check {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
    }
    50% {
        transform: rotate(30deg) translateX(9px);
    }
    100% {
        transform: rotate(-30deg) translateX(13.5px) translateY(8px);
    }
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Roboto', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F6F8FF;
    margin: 0;
    transition: background 0.4s ease;
}

.message {
    font-size: 1.2rem;
    color: #d6336c;
    min-height: 24px;
    text-align: center;
    margin-top: 20px;
}
